html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  height: 100%;
}

.box {
  display: flex;
  flex-flow: column;
  margin: 0;
  min-height: 100%;
  background-color: #B3D3D6;
}

.navbar-brand {
  font-size: 30px;
  font-weight: bold;
}

.box .container {
  margin: 0 auto;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

.footer {
  width: 100%;
  color: white;
  background-color: #728789;
  padding: .5em 0;
  text-align: center;
}

.data-container {
  margin: 1.5rem 5rem 3rem 5rem;
  padding: 1rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: white;
}

.input-group {
  text-align: center;
}

.input-group > form > * {
  margin-top: 0.75rem;
}

.results-group {
  margin-top: 2rem;
}

.country-results-group {
  margin-top: 1rem;
}

.input-group > form {
  margin: 0 auto;
}

#results {
  text-align: center;
}

.country-result {
  text-align: center;
}

.country-name {
  margin-top: 1rem;
}